div {
  display: flex;
  justify-content: center;
  border: solid black 1px;
}

#house {
  width: 100vw;
  height: 100vh;
  flex-wrap: wrap;
}

.room {
  flex-basis: 33.33%;
  box-sizing: border-box;
}

#killer,
#player {
  align-self: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
