div {
  display: grid;
  background-size: 100% 100%;
}

#house {
  width: 100vw;
  height: 100vh;
}

.room {
  background-image: url('../assets/hellhouse-room.png');
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.9);
}

.escape-room {
  background-image: url('../assets/hellhouse-escape-room.png');
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
}

.active-room {
  box-shadow: none;
}

#killer {
  place-self: center;
  width: 5rem;
  height: 5rem;
}

.skeleton {
  background-image: url('../assets/skeleton.png');
}

.ghost {
  background-image: url('../assets/ghost.png');
}

.vampire {
  background-image: url('../assets/vampire.png');
}

#player {
  place-self: center;
  width: 5rem;
  height: 5rem;
  background-image: url('../assets/player.png');
}

dialog {
  color: white;
  text-align: center;
  background-color: rgba(150, 10, 10, 0.747);
  border: none;
  box-shadow: inset 0 0 0 10px rgba(0, 0, 0, 0.5);
}

dialog > h1 {
  margin: 1rem;
}

dialog > form {
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

input,
button,
.room {
  cursor: pointer;
}

#rules-dialog {
  background-color: rgba(150, 10, 10, 1);
}

#start-dialog::backdrop,
.diedDialog::backdrop {
  background-image: url('../assets/BloodOverlay.png');
  background-size: 100% 100%;
}

hr {
  width: 100%;
}
